* {
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
    font-family: "Pretendard";
}

body {
    width: 100%;
    height: 100%;
}

.container {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
    background: #ffffff;
    padding: 0 7rem;
    border-bottom: 1px solid #dfdfdf;
}

.banner-container {
    display: flex;
}

.banner-container img {
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.7rem;
    box-sizing: border-box;
    padding: 0 16px;
}

.banner-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 540px;
    background-color: #cfe5ff;
}

.banner-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner-text {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.banner-text span {
    font-size: 2rem;
    font-weight: 700;
}

.banner-text button {
    background-color: #3692ff;
    padding: 16px 124px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    font-family: Pretendard;
    color: var(--Secondary-50, #f9fafb);
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}
.logoplus {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-btn {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 12px 23px 12px 23px;
    background-color: #3692ff;
    color: #ffffff;
    cursor: pointer;
}

/* 태블릿 */
@media (min-width: 744px) and (max-width: 1199px) {
    .banner-img {
        flex-direction: column;
    }

    .banner-text {
        align-items: center;
    }

    .banner-bg {
        height: 900px;
    }

    .images {
        flex-direction: column;
    }

    .left-images {
        flex-direction: column;
    }

    .footer-bg {
        flex-direction: column;
        height: 800px;
    }

    .ft-shoutout {
        padding: 12px;
        justify-content: space-between;
    }

    .shoutout {
        margin-top: 20px;
    }
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 743px) {
    .container {
        padding: 0;
    }

    #smallLogo {
        display: none;
    }

    .banner-img {
        flex-direction: column;
    }

    .banner-text {
        align-items: center;
    }

    .banner-bg {
        height: 700px;
    }

    .footer-bg {
        flex-direction: column;
        height: 700px;
    }
}
