section {
  padding: 6rem 0;
}
.container {
  margin: auto;
  /* 설정 다시하기 */
  padding: 0 3rem;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
}

.logoWrap {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.logo {
  width: 10.3rem;
}

.logoWrap div {
  color: var(--primary600);
  font-family: "ROKAF Sans";
  font-size: 6.6rem;
  font-weight: 700;
  font-family: "ROKAF Sans";
}

label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-weight: 700;
}
input {
  display: block;
  font-size: 1.8rem;
  border: none;
  background-color: #f3f4f6;
  color: var(--gray400);
  padding: 1.6rem 2.4rem;
  width: 100%;
  margin-top: 1.6rem;
  border-radius: 1.2rem;
}
input:focus {
  border: 1px solid var(--primary600);
}

.input-wrapper {
  position: relative;
}
.pswToggle {
  background: no-repeat center/80% url("/img/btn_visibility_off_24px.svg");
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  fill: var(--gray600);
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
}

.login-btn {
  padding: 1.6rem 12.4rem;
  display: block;
  background-color: var(--gray400);
  color: white;
  border-radius: 3rem;
  margin-bottom: 2.4rem;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}
.login-btn:hover {
  background-color: var(--primary600);
  transition: all 0.3s;
}

.easyLogin {
  background-color: var(--primary300);
  padding: 1.6rem 2.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  /* width: 100%; */
}

.easyLogin p {
  font-size: 1.6rem;
}
.social-icons {
  display: flex;
  gap: 1.6rem;
}
.google,
.kakaotalk {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
}

.google {
  background-color: white;
  padding: 1rem;
}
.kakaotalk {
  background-color: #f5e14b;
  padding: 1rem 0.8rem 0.8rem;
}
.google img,
.kakaotalk img {
  width: 100%;
}
.signupWrap {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
.signupWrap > * {
  display: inline-block;
}
.signup {
  color: var(--primary600);
  text-decoration: underline;
}
