/* 공통 속성 */
html {
  width: 100vw;
  height: 100vw;
}
a {
  display: inline-block;
  text-decoration: none;
  background-color: #3692FF;
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  justify-content: center;
}
a:hover {
  cursor: pointer;
}
.blue {
  font-family: 'Pretendard';
  color: #3692FF;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.paragraph {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  display: inline-block;
  color: #374151;
  display: inline-block;
}
.small-paragraph {
  font-family: 'Pretendard', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #374151;
  line-height: 32px;
  display: inline-block;
}
body {
  background-size: cover;
}

/* =================== Header =====================*/
header {
  position: absolute;
  display: block;
  background-color: #fff;
  z-index: 9999;
  height: 70px;
}
.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 9px 200px ;
  /* padding: 9px, 16px; */
  border: 1px solid #DFDFDF;
  background-color: #FFF;
}

.header .main-logo {
  display: flex;
  width: 153px;
  height: 51px;
}

.header .main-logo span {
  position: relative;
  font-family: ROKAF Sans;
  font-weight: 700;
  color: #3692FF;
  height: 35px;
  width: 103px;
  top: 9.76px;
  /* left: 48.59px; */
  line-height: 100%;
  font-size: 25.63px;
  text-align: center;
  align-content: center;
}
.header a {
  width: 128px;
  height: auto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #f3f4f6;
  padding: 12px 23px;
  gap: 10px;
  border-radius: 20px;
}

/* ========================= Main ========================*/

/* ================== section1 ===================*/

.section1 {
  position: relative;
  background-color: #CFE5FF;
  display: block;
  width: 100%;
  height: auto;
  /* top: 70px; */
  padding: 120px 16px 80px;
  margin-top: 70px;
}
.section1-word {
  /* position: absolute; */
  /* top: 200px; */
  /* left: 405px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 988px;
  margin: 0 auto;
}
.word1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 0;
  max-width: 520px;
}
.word1 a {
  font-size: 20px;
  line-height: 32px;
  padding: 14px 28px;
  color: #FFF;
  border-radius: 50px;
  width: fit-content;
}
.section1 .panda {
  /* position: relative; */
  /* bottom: -300px; */
  /* right: -700px; */
  width: min(46vw, 746px);
  height: auto;
  margin-bottom: -100px;
  margin-right: -100px;
}

.section1 .paragraph {
  align-items: center;
}

/* -------------- section2 --------------- */

.section2 {
  /* top: 70px; */
  /* padding: 140px 0; */
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 80px 16px;
  background-color: #FCFCFC;
}
.section2 .section2-main {
  display: block;
  width: 988px;
  max-width: 988px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.section2-word {
  display: inline-block;
  width: 274px;
  height: auto;
  padding-left: 60px;
  margin-left: 60px;
  top: 10px;
}
.section2 .img {
  display: inline-block;
  width: min(588px, 100%);
  height: 444px;
}

/* ----------- section3-------------- */

.section3 {
  width: 100%;
  margin-top:70px;
  text-align: center;
  padding: 80px 16px;
}
.section3 .section3-main {
  display: block;
  background-color: #FCFCFC;
  width: 988px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.section3 .section3-word {
  display: inline-block;
  width: 274px;
  height: auto;
  padding-left: 60px;
}

/* ----------- section4 ------------- */

.section4 {
  display: flex;
  width: 100%;
  margin-top: 70px;
  text-align: center;
  padding: 80px 16px;
  justify-content: center;
}
.section4 .section4-main {
  display: block;
  background-color: #FCFCFC;
  justify-content: center;
  align-items: center;
  
}
.section4 .section4-word {
  width: 274px;
  padding: 40px;
  /* padding-right: 60px; */
}
.section4. .paragraph {
  line-height: 140%;
}
.section5 {
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
}

.section5 .img {
  display: block;
  margin-bottom: -100px;
  margin-right: -100px;
  position: relative;
  right: -250px;
}
.section5 .paragraph {
  display: block;
  position: relative;
  text-align: left;
  justify-content: center;
  margin-left: 405px;
  top: 250px;
}

/* --------- Footer ------------ */
footer {
  display: flex;
  width: 100%;
  height: 158px;
  /* padding: 23px 200px; */
  padding: 24px 16px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-shrink: 0;
  background-color: #111827;
  color: #FFF;
  box-sizing: border-box;
}
footer .footer-content {
  color: #9CA3AF;
}
footer .footer-mid a {
  color: #E5E7EB;
  background-color: #111827;
  margin-right: 30px;

}
footer.img {
  display: flex;
  width: 116px;
  align-items: flex-start;
  gap: 12px;
}
footer .img a {
  color: #E5E7EB;
  background-color: #111827;
}
