
:root {
    --blue: #3692FF;
}

.auth {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #FCFCFC;        
}

@media (min-width: 1200px) {
    .auth, .logo_pandaMarket {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .auth, .logo_pandaMarket {
        width: 100%;
    }
}

@media (max-width: 743px) {
    .auth, .logo_pandaMarket {
        width: 80%; 
    }
}

.logo_pandaMarket {   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* 위의 margin-top은 6rem, margin-bottom은 4rem이어야 시안과 같으나, 브라우저 변동 사이즈에 비해 이미지가 좀 큰 것 같아 줄여봤습니다. */
}

#logoImg {    
    width: 396px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

@media (max-width: 743px) {   
    #logoImg {
        width: 50%;
    }
}

.input_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.input_margin {
    width: 100%;
    margin-bottom: 2.4rem;
}

label {
    width: 100%;
    display: block;
    margin-bottom: 1.6rem;
    text-align: left;
    font-size: 1.8rem;
    color: #1F2937;
    font-weight: 700;
}

input {
    width: 100%;
    height: 5.6rem;
    background-color: #F3F4F6;
    padding: 1.6rem 2.4rem;
    color: #1F2937;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border: none;
    border-radius: 1.2rem;
    position: relative;
}

input::placeholder {
    font-size: 1.6rem;
    color: #9CA3AF;
    line-height: 2.4rem;
    text-align: left;
}

input:focus {
    outline-color: var(--blue);
}

.form-password {    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye {
    position: absolute;
    right: 24px;      
}

.submit-button {
    width: 100%;   
    height: 5.6rem;
    color: #F3F4F6;
    background-color: #9CA3AF;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 3.2rem;
    border-radius: 4rem;
}

.submit-button:hover {
    background-color: var(--blue);
}

.social_login {
    width: 100%;   
    background-color: #E6F2FF;
    padding: 1.6rem 2.3rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    color: #1F2937;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.8rem;
}

.social_button {
    position: absolute;
    right: 23px;
    gap: 1.6rem;
    display: flex;
    align-items: center;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #1F2937;
    gap: 0.4rem;
}

.signup a {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 0.2rem;  
}

