:root {
    /* 🎨 팔레트 색상 정의 */
    --primary-color: #3692FF;
    --secondary-color: #1F2937;
    --text-color: #374151;
    --background-color: #CFE5FF;
  }

html {
    font-size: 16px;
}

a{
    color: #ffffff;
}

/* 정보 굵은 텍스트 */
h1 {
    color: var(--text-color);
    font-family: Pretendard;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 1.5reim;
}

/* -------------------- 헤더 시작 -------------- */

/* 헤더 고정하고 여백 설정 */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4.375rem;
    padding: 0.6rem 12.5rem;
    background: #FFF;
}
/* 헤더 판다마켓(왼쪽) 영역과 로그인 버튼 영역(오른쪽) 배치 */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 헤더 로고와 판다마켓 정렬 */
.header-logotitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex: 0 0 auto;
}
/* 헤더 로고 이미지 */
.header-logo {
    width: 2.5rem;
    min-width: 2.5rem; /* 최소 폭 지정 (추가 안전장치) */
    flex-shrink: 0;
}

/* 헤더 판다마켓 텍스트 */
.header-title span {
    color: var(--primary-color);
    font-family: "ROKAF Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-width: 6.4375rem;
}
/* 헤더 로그인 버튼 */
.header_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* flex: 1 1 auto; */
    width: 8rem;
    height: 3rem;
    padding: 0.75rem 1.4375rem;
    border-radius: 0.5rem;
    gap: 0.625rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* -------------------- 헤더 끝 -------------- */

.main-home {
    margin-top: 4.375rem;
}

/* -------------------- 메인 콘텐츠 - 01 영역 -------------- */
/* 첫번째 영역 - 전체 설정 */
.section-01 {
    position: relative;
    background: #CFE5FF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.75rem;
    padding-top: 12.5rem;
    flex-shrink: 0;
    width: 100%;
}
/* 첫 번째 영역 - 콘텐츠 */
.section-01-content {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
/* 첫 번째 영역 텍스트와 구경하러 가기 버튼 */
.section-info-01 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 33.75rem;
    padding: 0 4rem;
    gap: 2rem;
}

/* 구경하러 가기 버튼 */
.bt-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    padding: 1.75rem 7.75rem;
    border-radius: 2.5rem;
    background-color: var(--primary-color);
    color: #F9FAFB;

    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 160% */
    margin-bottom: 3.75rem;
}

/* -------------------- 02 영역 -------------- */
/* 02 전체 영역 */
.section-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.625rem 21.5rem;
    gap: 0.625rem;
    height: 45rem;
}
/* 02 콘텐츠 영역 */
.section-02-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCFCFC;
    gap: 4rem;
    flex: 0 0 auto;
    padding: 0 1rem;
}
/* 02 텍스트 영역 */
.content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.description-title {
    color: var(--primary-color);
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
}

.description {
    color: var(--text-color);
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

/* -------------------- 03 영역 -------------- */
/* 03 텍스트 영역 - 오른쪽 정렬*/
.content-info-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
}
/* 텍스트 정보 오른쪽 정렬 */
.content-info-r h1,
.content-info-r span
{
    text-align: right;
}

/* -------------------- 05 영역 -------------- */
/* 05 전체 영역 */
.section-05 {
    margin-top: 8.625rem;
    padding-top: 8.9375rem;
    position: relative;
    background: #CFE5FF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.75rem;
    flex-shrink: 0;
    width: 100%;

}

/* 05 콘텐츠 (텍스트+이미지) */
.section-05-content {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 4.3125rem;
}

/* -------------------- footer -------------- */

footer {
    padding: 2rem 12.5rem;
    background: #111827;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10rem;
    gap: 1.875rem;
}

.footer-codeit {
    color: #9CA3AF;
}

.footer-privecy {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
}

.social {
    display: flex;
    width: 7.25rem;
    align-items: flex-start;
    gap: 0.75rem;
}

.social img {
    width: 1.25rem;
    height: 1.25rem;
}

/* -------------------- 로그인 페이지 -------------- */
/* 전체 프레임 */
.frame-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: auto;
    margin-top: 14.4rem;
    margin-bottom: 17.75rem;
}

/* 로고 프레임과 판다마켓 폰트 설정 */
.frame-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 폰트 */
    color: var(--primary-color);
    font-family: "ROKAF Sans";
    font-size: 4.1465rem;
    font-style: normal;
    font-weight: 700;
    /* 영역과 간격 */
    width: 24.75rem;
    height: 8.25rem;
    gap: 1.39rem;
}
/* 로고 이미지 영역(이미지 크기) */
.frame-logo a {
    width: 6.47056rem;
    height: 6.4925rem;
    flex-shrink: 0;
    cursor: pointer;
}
/* 로고 크기는 부모 따라가도록 */
.logo-img  {
    flex-shrink: 0;
    width: 100%;

}

/* 로고와 판다마켓 텍스트 */
.login-title {
    display: flex;
    align-items: center;
}

/* -------------------- 이메일 비밀번호 폼 -------------- */

label {
    color: var(--Secondary-800, #1F2937);
    /* pretendard/2lg-18px-bold */
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
}
/* 비밀번호 전체 박스 설정 */
.input-box {
    position: relative;
    display: flex;
    align-items: center;
  }
/* 기본 인풋(이메일, 닉네임, 비밀번호) */
input {
    display: flex;
    width: 40rem;
    height: 3.5rem;
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.75rem;
    background: #F3F4F6;
    border: 1px solid hsla(0, 0%, 0%, 0);   /* 기본 테두리 지정 */
    outline: none;            /* 브라우저 기본 파란 외곽선 제거 */
}

.input-box input {
    padding-right: 2.5rem; /* 아이콘 자리 확보 */
  }
/* 비밀번호 아이콘 배치 */
  .toggle-password {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 1;
  }

/* 이메일과 패스워드 정렬 */
  .frame-email,
  .frame-password,
  .frame-username
   {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 1rem;
      margin-bottom: 1.5rem;
  }
 /* focus 커서있을 때 테두리 색상 변경 */
.frame-login input:focus {
    border-color: var(--primary-color);
}

  

/* -------------------- 로그인 버튼 -------------- */
/* 로그인 버튼 */
.bt_login {
    display: flex;
    width: 40rem;
    height: 3.5rem;
    padding: 1rem 7.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    background: var(--Secondary-400, #9CA3AF);
    cursor: pointer;
}

/* 로그인 버튼의 로그인 텍스트 */
.bt_login a {
    color: var(--Cool-Gray-100, #F3F4F6);
    text-align: center;
    
    /* pretendard/xl-20px-semibold */
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 160% */    
}
/* -------------------- 간편 로그인 -------------- */
/* 간편 로그인 */
.simple-login-frame {
    width: 40rem;
    height: 4.625rem;
    padding: 1rem 1.44rem;
    border-radius: 0.5rem;
    background: #E6F2FF;
    margin: 1.5rem 0;
}

.simple-login-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37.125rem;
}
/* 간편 로그인하기 영역 자동 늘어나도록 */
.simple-login-inner span {
    flex: 1 1 auto;
    color: var(--secondary-color);
    /* pretendard/lg-16px-medium */
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;    
}

/* 구글, 카카오 영역은 고정 */
.login-social {
    display: flex;
    gap: 1rem;
    flex: 0 0 auto;

}

/* 구글, 카카오 아이콘 이미지 영역과 이미지 크기 */
.simple-login-inner .social a,
.simple-login-inner .social a img
 {
    width: 2.625rem;
    height: 2.625rem;
}

/* -------------------- 로그인 가장 하단, 회원가입 링크 프레임 -------------- */
.login-bottom span {
    font-family: "Pretendard-Medium", Helvetica;
    font-weight: 500;
    color: var(--secondary-color);
    font-size: 0.875rem;
}

.link-signup {
    color: #3691ff;
    text-decoration: underline;
    font-size: 0.875rem;
}