* { box-sizing: border-box; }

html { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; }
body { margin: 0; font-weight: 400; }

/* 로고 + 타이틀 */
.brand {
  display: flex; justify-content: center; align-items: center; gap: 40px;
  margin-top: 32px;
}
#panda_logo { width: 104px; height: 104px; display: block; }
.brand-title {
  color: #3692FF; font-weight: 700; font-size: 66px; line-height: 1; margin: 0;
}

/* 폼(폭 360px 중앙) */
form.login {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 16px auto 0;
}

/* 라벨,인풋 */
label { display:block; margin:16px 0 8px; }
input { display:block; width:100%; height:56px; padding:16px 24px; }
input::placeholder { color: #9CA3AF; }

/* 비밀번호 칸에 눈 아이콘 (배경) */
#password,
#password2 {
  background: url('eye.svg') no-repeat right 12px center, #F3F4F6;
  background-size: 20px auto;
  padding-right: 44px;
}

/* 회원가입 버튼 */
button { width:100%; height:56px; border:none; border-radius:40px; background:#9CA3AF; color: #fff; font-weight: 700; cursor: pointer;
  transition: background-color .2s ease;}
button:hover { background:#3692FF; }

/* 소셜 박스 */
.social-box {
  width: 360px; margin: 16px auto 0;
  display: flex; justify-content: space-between; align-items: center;
  background: #EAF2FF; border-radius: 8px; padding: 12px 16px; height: 74px;
}
.icons { display: flex; gap: 12px; align-items: center; }
.icons img { width: 28px; height: 28px; display: block; }

/* 하단 문구 */
.login-signup {
  width: 360px; margin: 8px auto 0; text-align: center;
  color: #6B7280; font-size: 12px;
}
.login-signup-link { color: #3692FF; text-decoration: underline; }


/*새로 추가*/
input.error {
  border: 1px solid red;
}

.error-message {
  color: #F74747;
  font-size: 15px;
  font-weight: 600;
  display: none;
}

.error-message.show {
  display: block;
}

.button:disabled {
  background:#9CA3AF;
  cursor: not-allowed;
  opacity: 0.5;
}