.header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--Secondary-150);
  height: 4.25rem;
  background-color: var(--White);
}
.header-inner {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo-mobile {
  display: none;
} /* 모바일에서는 로고가 달라서 숨겼다가 반응형에서 보여주기! */

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-link {
  color: var(--Secondary-600);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
}

.nav-link-active {
  color: #3692ff;
}

.header-login {
  width: 6rem;
  height: 2.625rem;
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  background-color: var(--Primary-100);
  color: var(--Secondary-200);
  font-family: Pretendard, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  flex-shrink: 0;
}

/* ======================= 반응형 ======================= */

/* 모바일 (<=743) */
@media (max-width: 743px) {
  .nav a {
    font-size: 1rem;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
}
