.card {
  background-color: var(--Secondary-050);
  border: none;
}
.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}
.card-title {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--Secondary-800);
}
.card-price {
  font-weight: 700;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  font-size: 1rem;
  color: var(--Secondary-800);
}
.card-fav {
  font-size: 0.75rem;
  color: #666;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--Secondary-600);
}
