.title {
  color: var(--gray700);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.subtitle {
  color: var(--primary-100);
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.text {
  color: var(--gray700);
  font-size: 2.4rem;
  font-weight: 500;
}

.container-hero,
.container-bottom {
  max-width: 111rem;
  padding: 0 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}
.section-best,
.section-search,
.section-register {
  padding: 13.8rem 0;
}

.container-best,
.container-search,
.container-register {
  max-width: 101.8rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: grid;

  column-gap: 6.4rem;
  background-color: #fcfcfc;
}

.container-best,
.container-register {
  grid-template-columns: 1fr auto;
}

.container-search {
  grid-template-columns: auto 1fr;
}
.contentWrap {
  align-self: center;
}

/* *************** section-hero **************** */
.section-hero {
  background-color: #cfe5ff;
  padding-top: 20rem;
}

.hero-btn {
  background-color: var(--primary600);
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  display: inline-block;
  width: clamp(240px, 50vw, 357px);
  padding: 1.6rem 0;
  border-radius: 3rem;
  display: inline-block;
  text-align: center;
}
/* *************** section-best **************** */

.best-container {
  gap: 6.4rem;
}

/* *************** section-search **************** */
.container-search div:first-child {
  order: 2;
}

.container-search .contentWrap {
  text-align: right;
}

/* *************** footer **************** */
.section-bottom {
  background-color: #cfe5ff;
  padding-top: 14.3rem;
}
