.registration-page {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.registration-container {
  max-width: 75rem;
  margin: 0 auto;
}

.registration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.registration-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Secondary-800);
}

.registration-submit-btn {
  background-color: var(--Secondary-400);
  color: var(--Secondary-200);
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: not-allowed;
}

.registration-submit-btn.active {
  background-color: var(--Primary-100);
  cursor: pointer;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  font-weight: 600;
  font-size: 1.125rem;
}

.form-group input,
.form-group textarea {
  background-color: var(--Secondary-200);
  border: 1px solid var(--Secondary-200);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.form-group textarea {
  min-height: 12.5rem;
  resize: none;
}

.form-group.has-error input,
.form-group.has-error textarea {
  border-color: var(--error-red);
  background-color: var(--White);
}

.error-message {
  font-size: 0.875rem;
  color: var(--error-red);
}

.tag-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  background-color: var(--Secondary-300);
  padding: 0.375rem 0.75rem 0.375rem 1rem;
  border-radius: 1.625rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Secondary-800);
}

.tag-remove {
  background-color: var(--Secondary-400);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* =========================== 반응형 =========================== */

/* 태블릿 */
@media (max-width: 1199px) {
  .registration-form {
    gap: 1.5rem;
  }

  .registration-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/* 모바일 */
@media (max-width: 743px) {
  .registration-form {
    gap: 1.5rem;
  }

  .registration-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
