/* -- Top Bar & Controls -- */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  min-height: 2.625rem;
}

.top-bar .first-row {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.top-bar .first-row .section-title {
  margin-bottom: 0;
}

.controls.top-bar-row.second-row {
  display: flex;
  gap: 0.75rem;
}

/* -- 검색/드롭다운/버튼 묶음 -- */
.controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.controls input[type="search"] {
  border-radius: 0.75rem;
  border: 1px solid var(--Secondary-300);
  flex-grow: 1;
  height: 2.625rem;
  max-width: 20.3125rem;
  padding: 0.5625rem 1.25rem 0.5625rem 1rem;
  background-color: var(--Secondary-100);
  font-size: 1rem;
}

.register-button {
  display: block;
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Primary-100);
  background-color: var(--Primary-100);
  color: var(--Secondary-200);
  font-weight: 600;
  cursor: pointer;
  font: Pretendard;
  font-size: 1rem;
}

.register-button:hover {
  background-color: #297de0;
}

/* ======================= 반응형 ======================= */

/* 모바일 (<=743) */
@media (max-width: 743px) {
  .top-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .top-bar-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .top-bar .first-row {
    display: flex;
    order: 1;
    min-height: 2.625rem;
  }

  .first-row .section-title {
    margin-bottom: 0;
    flex-grow: 1;
  }

  .controls.top-bar-row.second-row {
    order: 2;
    min-height: 2.625rem;
  }

  .first-row .register-button {
    display: block;
    flex-shrink: 0;
  }

  .controls input[type="search"] {
    max-width: none;
    flex-grow: 1;
    width: auto;
    order: 1;
  }
}
