.signup .inner {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 14.4375rem;
  padding-bottom: 11.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 40rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
