.BestContentItem {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 378px;
}

.BestContentItem-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.itemList {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.item-name {
    font-family: Pretendard;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--Secondary-800, #1f2937);
}

.item-price {
    color: var(--Secondary-800, #1f2937);
    font-family: Pretendard;
    margin: 6px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.item-favorite {
    color: var(--Secondary-600, #4b5563);
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

@media (min-width: 375px) and (max-width: 743px) {
    .BestContentItem {
        width: 343px;
        height: 434px;
    }
}

@media (min-width: 744px) and (max-width: 1199px) {
    .BestContentItem {
        width: 343px;
        height: 434px;
    }
}
