.footer-img img {
    width: 100%;
}

.footer-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #cfe5ff;
}

.banner-text {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
