/* ======================= 전체 변수 지정 ======================= */

:root {
  --Primary-100: #3692ff;
  --Primary-200: #1967d6;
  --Primary-300: #1251aa;
  --Primary-050: #cfe5ff;
  --Primary-025: #e6f2ff;

  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-600: #4b5563;
  --Secondary-500: #6b7280;
  --Secondary-400: #9ca3af;
  --Secondary-300: #e5e7eb;
  --Secondary-200: #f3f4f6;
  --Secondary-150: #dfdfdf;
  --Secondary-100: #f9fafb;
  --Secondary-050: #fcfcfc;

  --error-red: #f74747;

  --White: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Pretendard, sans-serif;
}

/* ======================= 큰 범위로 스타일 적용 ======================= */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 1.25rem 0;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Secondary-900);
  margin-bottom: 3rem;
}

.empty-result {
  text-align: center;
  color: var(--Secondary-900);
  background-color: var(--White);
  border: 1px solid var(--Secondary-300);
  border-radius: 0.5rem;
  padding: 2.5rem;
  margin: 1.5rem 0;
  font-size: 1.125rem;
  font-weight: 600;
}

/* ======================= Header 컴포넌트 ======================= */

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--Secondary-150);
  height: 4.25rem;
  background-color: var(--White);
}
.header-inner {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo-mobile {
  display: none;
} /* 모바일에서는 로고가 달라서 숨겼다가 반응형에서 보여주기! */

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav a {
  color: var(--Secondary-600);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
}

.header-login {
  width: 6rem;
  height: 2.625rem;
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  background-color: var(--Primary-100);
  color: var(--Secondary-200);
  font-family: Pretendard, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  flex-shrink: 0;
}

/* ======================= SecondhandMarket Page - 상품 목록  ======================= */

/* -- Top Bar & Controls -- */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  min-height: 2.625rem;
}

.top-bar .first-row {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.top-bar .first-row .section-title {
  margin-bottom: 0;
}

.controls.top-bar-row.second-row {
  display: flex;
  gap: 0.75rem;
}

/* -- 검색/드롭다운/버튼 묶음 -- */
.controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.controls input[type="search"] {
  border-radius: 0.75rem;
  border: 1px solid var(--Secondary-300);
  flex-grow: 1;
  height: 2.625rem;
  max-width: 20.3125rem;
  padding: 0.5625rem 1.25rem 0.5625rem 1rem;
  background-color: var(--Secondary-100);
  font-size: 1rem;
}

.register-button {
  display: block;
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Primary-100);
  background-color: var(--Primary-100);
  color: var(--Secondary-200);
  font-weight: 600;
  cursor: pointer;
  font: Pretendard;
  font-size: 1rem;
}

.register-button:hover {
  background-color: #297de0;
}

/* -- 상품 카드와 그리드 -- */
/* ===== 상품 카드 ===== */
.card {
  background-color: var(--Secondary-050);
  border: none;
}
.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}
.card-title {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--Secondary-800);
}
.card-price {
  font-weight: 700;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  font-size: 1rem;
  color: var(--Secondary-800);
}
.card-fav {
  font-size: 0.75rem;
  color: #666;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--Secondary-600);
}

/* ===== Grid ===== */
.grid-best,
.grid-all {
  display: grid;
}

/* 데스크탑 */
.grid-best {
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem 1.5rem;
} /* 베스트: 4열 */
.grid-all {
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem 1.5rem;
} /* 전체: 5열 */

/* --- Sort Dropdown 컴포넌트--- */
.sort {
  position: relative;
}

.sort-button {
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--Secondary-300);
  border-radius: 0.5rem;
  background-color: var(--White);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-triangle {
  width: 0;
  height: 0;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-top: 0.4375rem solid #000000;
}

.sort-menu {
  position: absolute;
  top: calc(100% + 0.375rem);
  right: 0;
  z-index: 20;
  display: grid;
  gap: 0;
}

.sort-item {
  background-color: var(--White);
  text-align: left;
  padding: 0.625rem 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--Secondary-900);
}

.sort-item:hover {
  background-color: var(--Secondary-100);
}

.sort-item-first {
  border-radius: 0.75rem 0.75rem 0 0;
  border: 1px solid var(--Secondary-300);
  background-color: var(--White);
}

.sort-item-second {
  border-radius: 0 0 0.75rem 0.75rem;
  border: 1px solid var(--Secondary-300);
  background-color: var(--White);
  border-top: none;
}

/* -- Pagination 컴포넌트 -- */

.pagination {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  margin-top: 1.25rem;
}
.pagination button {
  padding: 0.78125rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--Secondary-300);
  background-color: var(--White);
  border-radius: 2.5rem;
  cursor: pointer;
}
.pagination button.active {
  background-color: #2f80ed;
  color: var(--Secondary-100);
  border-color: #2f80ed;
}
.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* ======================= Footer 컴포넌트 ======================= */

.footer-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 12.5rem;
  min-height: 10rem;
  max-width: 1920px;
}

.footer {
  width: 100%;
  min-height: 10rem;
  flex-shrink: 0;
  background-color: var(--Secondary-900);
}

.link {
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Secondary-400);
}

.legal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.privacy,
.faq {
  text-align: center;
  font-family: Pretendard, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Secondary-300);
  text-decoration: none;
}

.footer-link-logo {
  width: 1.25rem;
  height: 1.25rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  gap: 0.75rem;
}

/* ======================= 반응형 ======================= */

/* 태블릿 (744~1199) */
@media (max-width: 1199px) {
  .grid-best {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-all {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 1rem;
  }
}

/* 모바일 (<=743) */
@media (max-width: 743px) {
  .nav a {
    font-size: 1rem;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .top-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .top-bar-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .top-bar .first-row {
    display: flex;
    order: 1;
    min-height: 2.625rem;
  }

  .first-row .section-title {
    margin-bottom: 0;
    flex-grow: 1;
  }

  .controls.top-bar-row.second-row {
    order: 2;
    min-height: 2.625rem;
  }

  .first-row .register-button {
    display: block;
    flex-shrink: 0;
  }

  .controls input[type="search"] {
    max-width: none;
    flex-grow: 1;
    width: auto;
    order: 1;
  }

  .sort {
    order: 2;
    flex-shrink: 0;
  }

  .footer {
    width: 100vw;
  }

  .footer-inner {
    padding: 2rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .legal {
    order: 1;
    flex: 0 0 auto;
  }

  .links {
    order: 2;
    flex: 0 0 auto;
    margin-left: auto;
  }

  .copyright {
    order: 3;
    flex: 0 0 auto;
    text-align: left;
  }

  .sort-button {
    width: 2.625rem;
    height: 2.625rem;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-image: url("/image/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .sort-triangle {
    display: none;
  }

  .grid-best {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-all {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0.5rem;
  }
}
