/* ======================= 전체 변수 지정 ======================= */

:root {
  --Primary-100: #3692ff;
  --Primary-200: #1967d6;
  --Primary-300: #1251aa;
  --Primary-050: #cfe5ff;
  --Primary-025: #e6f2ff;

  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-600: #4b5563;
  --Secondary-500: #6b7280;
  --Secondary-400: #9ca3af;
  --Secondary-300: #e5e7eb;
  --Secondary-200: #f3f4f6;
  --Secondary-150: #dfdfdf;
  --Secondary-100: #f9fafb;
  --Secondary-050: #fcfcfc;

  --error-red: #f74747;

  --White: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Pretendard, sans-serif;
}

/* ======================= 큰 범위로 스타일 적용 ======================= */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 1.25rem 0;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Secondary-900);
  margin-bottom: 3rem;
}
