.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12.5rem;
  background-color: #111827;
  color: white;
  margin-top: auto;
  height: 10rem;
}

.year {
  font-size: 1rem;
  margin: 0;
  color: #9ca3af;
  font-weight: 400;
}

.nav {
  display: flex;
  gap: 1.875rem;
}

@media (max-width: 1023px) {
  .footer {
    padding: 2rem 1.5rem;
    height: 10rem;
  }

  .year {
    font-size: 1rem;
  }

  .nav {
    gap: 1.875rem;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    height: auto;
    min-height: 10rem;
  }

  .year {
    font-size: 1rem;
  }

  .nav {
    gap: 1.875rem;
  }
}
